.container {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    flex-direction: column;
    div {
        display: flex;
        gap: 0.75rem;
    }
}

